body {
/*	default font color and font size and font type*/
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: #10A7EA;
    background-color: #F9F9F9;
}

header {
    width: 100vw;
    overflow: auto;
    background-color: white;
}

.productDemo {
    width: 100vw;
    height: 70vh;
}

.productDemo::after {
    background-image: url("imageAsset/indexPageBackgroundPhoto.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.demoHeaderLeft {
    float: left;
    float: left;
    margin: 1vh 1vw;
}

.demoHeaderComponent {
    color: #FD5E0F;
}

.demoHeaderCureConnect {
    padding: 0.4vw;
    text-decoration: none;
    border-radius: 10px;
}

.demoHeaderLogo {
    width: 40px;
    height: 40px;
}

/*This section is for the product demo landing page*/

.demoContentContainer {
    width: 80vw;
    overflow: auto;
    margin: 13vh 10vw 0 10vw;
}

.demoNurse {
    width: 30vw;
    height: 175px;
    overflow: auto;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 1vw;
    margin: 0 1vw 0 9vw;
    line-height: 2;
    background-color: rgba(16, 167, 234, 0.2);
}

.demoNurseTitleLeft {
    width: 5vw;
    overflow: auto;
    float: right;
}

.demoNurseIcon {
    width: 5vw;
    height: 5vw;
}

.demoNurseTitleRight {
    width: 22vw;
    overflow: auto;
    float: left;
    margin-bottom: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
}

.demoNurseTitle {
    width: 28vw;
    overflow: auto;
    /* font-weight: 600; */
    /* -webkit-font-smoothing: inherit; */
}

.demoNurseTitleComponent {
    float: left;
}

.demoNurseName {
    width: 100%;
    font-size: 22px;
    /* padding-right: 5px; */
    padding: 5px 15px 0 0;
    text-align: right;
    float: right;
    text-align: center;
    text-align: right;
    /* background-color: white; */
    height: 2.1em;
    color: #135672;
}

.demoNurseLowerLevel {
    width: 100%;
    height: 2.2em;
    overflow: auto;
    color: #FD5E0F;
    float: right;
    /* font-size: 20px; */
    /* background-color: white; */
}

.demoHeartLogoContainer {
    float: left;
    width: 80vw;
    overflow: auto;
    margin-top: 7vh;
    padding-left: 40vw;
    padding-top: 5vh;
    animation: heartBlinking 4s;
}

.demoHeartLogo {
    width: 8vw;
    overflow: auto;
    margin-top: -2vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.demoNurseDegrees {
    font-size: 20px;
    float: right;
    width: 120px;
    text-align: right;
    margin-left: 5px;
    padding-right: 15px;
}

.demoNurseJurisdiction {
    margin-left: 0.5vw;
    font-size: 20px;
    color: #10A7EA;
    float: right;
    width: 45%;
    text-align: right;
}

.demoNursePreferences {
    width: 28vw;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}

.demoNursePayContianer {
    width: 120px;
    overflow: auto;
    float: left;
    margin-left: 10px;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgba(16, 167, 234, 0.2);
}

.demoNursePayIcon {
    height: 40px;
    width: 40px;
    float: left;
}

.demoNursePayAmount {
    float: left;
    margin-left: 2%;
}

.demoNurseCalContainer {
    width: 100px;
    overflow: auto;
    float: left;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgba(16, 167, 234, 0.2);
}

.demoNurseCal {
    width: 33%;
    height: 33%;
    float: left;
}

.demoNurseCalIcon {
    float: left;
    width: 40px;
    height: 40px;
}

.demoNurseCalDay {
    float: left;
    /* font-size: 15px; */
    width: 55px;
    font-size: 20px;
    margin-left: 2%;
    /* margin-top: 2%; */
}

.demoNurseDayNightContainer {
    width: 140px;
    overflow: auto;
    float: left;
}

.demoNurseDayNightIcon {
    width: 40px;
    height: 40px;
    float: left;
}

.demoNurseDayNightText {
    float: left;
    width: 100px;
    overflow: auto;
}

.demoClinic {
    float: left;
    width: 30vw;
    height: 175px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #FD5E0F;
    padding: 1vw;
    margin: 0 9vw 0 1vw;
    line-height: 2;
    background-color: rgba(253, 94, 15, 0.15);
}

@keyframes demoClinicAnimation {
    0% {opacity: 0.2;}
}

.demoClinicTitle {
    width: 28vw;
    overflow: auto;
    padding-bottom: 2px;
}

.demoClinicTitleLeft {
    width: 5vw;
    overflow: auto;
    float: left;
}

.demoClinicIcon {
    width: 5vw;
    height: 5vw;
}

.demoClinicTitleRight {
    width: 23vw;
    overflow: auto;
    float: left;
    margin-bottom: 7.5px;
    background-color: white;
    border-radius: 10px;
}

.demoClinicTitleComponent {
    overflow: auto;
    float: left;
    font-size: 20px;
}

.demoClnicLowerLevel {
    width: 100%;
    padding-left: 15px;
    height: 2.2em;
    overflow: auto;
    color: #FD5E0F;
}

.demoClinicDegrees {

}

.demoClinicJurisdiction {
    margin-left: 0.5vw;
    font-size: 20px;
    color: #10A7EA;
}

.demoClinicName {
    font-size: 22px;
    padding-left: 15px;
    color: #135672;
    /* height: 42px; */
    padding-top: 5px;
}

.demoDetails {
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}

.demoButtonGroup {
    width: 80vw;
    overflow: auto;
    margin: 1vw 10vw 0 10vw;
}

.demoButtonLeft {
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 1vw;
    width: 20vw;
    overflow: auto;
    margin: 0 1vw 0 19vw;
    text-align: center;
}

.demoButtonRight {
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 1vw;
    width: 20vw;
    overflow: auto;
    margin: 0 19vw 0 1vw;
    text-align: center;
}

.goToMainpageButton {
    border-style: solid;
    border-color: #FD5E0F;
    border-width: 2px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 18px;
    padding: 1vw;
    width: 20vw;
    /* margin: 0 30vw 0 30vw; */
    text-align: center;
    color: #FD5E0F;
    cursor: pointer;
    /* font-size: 14px; */
    /* margin: 0 30vw; */
}

.goToMainpageButton:hover {
    color: white;
    background-color: #FD5E0F;
}

.demoAdvantageSynopsis {
    width: 80vw;
    overflow: auto;
    margin: 5vw 10vw 0 10vw;
}

.demoAdvantageComponent {
    /* width: 80vw; */
    overflow: auto;
    /* margin: 0 10vw 0 10vw; */
    text-align: center;
    font-size: 30px;
    margin-top: 10vh;
}

.upperFloor {
    width: 60vw;
    overflow: auto;
    margin: 2vw 15vw 0 15vw;
}

.demoAdvantageComponentImage {
    width: 10vw;
    height: 10vw;
}

.lowerFloor {
    width: 80vw;
    overflow: auto;
    margin: 4vw 10vw 0 0vw;
    color: #FD5E0F; 
}

.demoAdvantageMsgDisplay {
    width: 80vw;
    height: 30px;
    text-align: center;
}

@keyframes heartBlinking {
    0% {opacity: 0;}
    5% {opacity: 0;}
    100% {opacity: 1;}
}

.demoClinicPreferences {
    width: 28vw;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}

.demoClinicPayContianer {
    width: 120px;
    overflow: auto;
    float: left;
    margin-left: 10px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #FFE7DB;
}

.demoClinicPayIcon {
    height: 40px;
    width: 40px;
    float: left;
}

.demoClinicPayAmount {
    float: left;
    margin-left: 2%;
}

.demoClinicCalContainer {
    width: 100px;
    overflow: auto;
    float: left;
    border-right-style: solid;
    border-width: 1px;
    border-color: #FFE7DB;
}

.demoClinicCal {

}

.demoClinicCalIcon {
    float: left;
    width: 40px;
    height: 40px;
}

.demoClinicCalDay {
    float: left;
    /* font-size: 15px; */
    width: 55px;
    font-size: 20px;
    margin-left: 2%;
    /* margin-top: 2%; */
}

.demoClinicDayNightContainer {
    width: 140px;
    overflow: auto;
    float: left;
}

.demoClinicDayNightIcon {
    width: 40px;
    height: 40px;
    float: left;
}

.demoClinicDayNightText {
    float: left;
    width: 100px;
    overflow: auto;
}

#slider { 
    margin: 0px auto;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slider > div { 
    position: absolute;   
}

.sliderComponent {
    width: 80%;
    height: auto;
    max-width: 100% !important;
    text-align: center !important;
    font-size: 30px;
}

.sliderComponentOrange {
    color: #FD5E0F;
}

.demoClinicMatching {
    text-align: center;
    font-size: 25px;
    color: #fd5e0f;
    margin-top: 40px;
}

.contentCenter {
    width: 80vw;
    overflow: auto;
    margin: 20vh 10vw;
}

.contentCenterButtons {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 50px;
    width: 350px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.nurseOnBoardingEmailCover {
    display: none;
    width: 80vw;
    overflow: auto;
    color: white;
    text-align: center;
    margin: 0 0vw 0 0vw;
    line-height: 2;
    animation: divAppearSlowMotion 2s;
}

.nurseOnBoardingEmailDirectionUpperLayer {
    margin-bottom: 1vw;
}

.nurseOnBoardingEmailDirectionEntry {
    text-align: center;
    color: #10A7EA;
}

.nurseOnBoardingEmailDirectionEntryField {
    margin-top: -0.3vh;
}

.nurseOnBoardingEmailDirectionLowerLayer {
    margin-top: 1vw;
}

.bottomDisclosure {
    width: 100vw;
    height: 50px;
    bottom: 0px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    font-size: 2vmin;
}

.bottomDisclosureLeft {
    width: 30vw;
    height: 50px;
    text-align: left;
    float: left;
    padding: 2.5vh 0 0 3vw;
    cursor: pointer;
}

.bottomDisclosureCenter {
    width: 40vw;
    height: 50px;
    text-align: center;
    float: left;
    padding-top: 2.5vh;
    cursor: pointer;
}

.chatLogoAddOn {
    width: 100px;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: chatButtonBlinking 2s infinite;
}

.chatLogoAddOn img {
    width: 80px;
    margin-top: -12px;
}

.chatLogoAddOnCaption {
    font-size: 2vmin;
    color: orange;
}

@keyframes chatButtonBlinking {
    0% {opacity: 0.3;}
    50%  {opacity: 0.8;}
    100%  {opacity: 0.3;}
}









