/*::-webkit-input-placeholder {
   text-align: center;
}*/

.nextButton {
    color: white;
    text-align: center;
    font-size: 15px;
    position: absolute;
    right: 0.5vw;
    top: 45vh;
    cursor: pointer;
    padding: 1vw;
    border-radius: 10px;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.nextButton:hover {
    background-color: white;
    color: #10A7EA;
    padding: 1vw;
    border-radius: 10px;
}

.nextButtonArrow {

}

.nextButtonCaption {

}

.nurseOnBoardingEmailDirectionEntryButton {
    color: #10A7EA;
    border-style: none;
    background-color: white;
    border-width: 2px;
    border-color: white;
    height: 45px;
    width: 70px;
    cursor: pointer;

}

.nurseOnBoardingEmailDirectionEntryButton:hover {
    color: white;
    background-color: #10A7EA;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.prevButton {
    color: white;
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: 1.5vw;
    top: 46vh;
    cursor: pointer;
    padding: 1vw;
    border-radius: 10px;
    display: none;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.prevButton:hover {
    background-color: white;
    color: #10A7EA;
    padding: 1vw;
    border-radius: 10px;
}

.prevButtonArrow {

}

.prevButtonCaption {

}

.nurseOnBoardingRegStep1 {
    width: 90vw;
    overflow: auto;
    color: white;
    margin: 5vw 5vw 0 5vw;
}

.nurseRegStep1Header {
    margin-bottom: 3vh;
}

.nurseRegStep1Content {
    width: 70vw;
    overflow: auto;
}

.nurseRegStep1ContentLeft {
    float: left;
    width: 70vw;
    overflow: auto;
}

.nurseRegStep1ContentRight {
    float: left;
    margin-left: 2vw;
}

.nurseRegStep1AttachResumeButton {
    margin-top: 60%;
}

.nurseRegStep1AttachResumeButtonDesign {
    color: #10A7EA;
    border-style: none;
    background-color: white;
    border-width: 2px;
    border-color: white;
    height: 45px;
    width: 200px;
    cursor: pointer;
    margin-left: 1vw;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.nurseRegStep1AttachResumeButtonDesign:hover {
    color: white;
    background-color: #10A7EA;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.bottomStatusBar {
    color: white;
    font-size: 13px;
    font-weight: 100;
    bottom: 1vh;
    position: absolute;
    width: 40vw;
    overflow: auto;
    margin: 0 30vw;
    text-align: center;
    display: none;
    cursor: default;
}

.bottomStatusBarUpperLayer {
    width: auto;
    overflow: auto;
}

.bottomStatusBarStep1 {
    float: left;
    width: 8vw;
    text-align: center;
    background-color: white;
    color: #10A7EA;
    padding: 1vw;
    border-radius: 10px;
}

.bottomStatusBarStep2 {
    float: left;
    width: 8vw;
    text-align: center;
    padding: 1vw;
}

.bottomStatusBarStep3 {
    float: left;
    width: 8vw;
    padding: 1vw;
}

.bottomStatusBarLowerLayer {
    margin-top: 1vh;
    width: 40vw;
    overflow: auto;
}

.bottomStatusBarDivider {
    float: left;
    width: 8vw;
    text-align: center;
    padding: 1vw;
}

/*Step 2/3 Procedures*/

.nurseOnBoardingRegStep2 {
    display: none;
    color: white;
    width: 80vw;
    overflow: auto;
    margin: 20vh 10vw 0 10vw;
}

.nurseRegStep2Header {

}

.nurseRegStep2Content {
    width: 80vw;
    overflow: auto;
    margin: 5vh 0 0 0;
}

.signUpWithLinkedIn {
    width: 25vw;
    overflow: auto;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.signUpWithLinkedIn:hover {
    color: #10A7EA;
    background-color: white;
}

.signUpWithGoogle {
    width: 25vw;
    overflow: auto;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding: 1vw;
    cursor: pointer;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.signUpWithGoogle:hover {
    color: #10A7EA;
    background-color: white;
}

.signUpWithCureConnect {
    width: 26vw;
    overflow: auto;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding: 1vw;
    margin-left: 1vw;
    cursor: pointer;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.signUpWithCureConnect:hover {
    color: #10A7EA;
    background-color: white;
}

.nurseRegStep2ToaCheckbox {
    text-align: center;
    margin-top: 3vh;
}

.ToaCheckbox {

}

input[type='checkbox'] { 
    height: 20px;
    border:1px solid #B5B7B8;
    font: 14px/26px 'pt-sans', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
    padding:7px 7px 7px 12px;
    /*margin:0 0 30px 0;*/
    background:#FFF;
    border:1px solid #d5d5d6;
    outline:none;
    color:#96999D;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);        
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: all 0.15s;
       -moz-transition: all 0.15s;
        -ms-transition: all 0.15s;
         -o-transition: all 0.15s;
            transition: all 0.15s;          
}

input[type=checkbox]:focus
  {
    border-color: #ACACB8;
    color: #2E3236;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18)!important;
}

input[type=checkbox]:checked {
    background-color: #3afc7a;
}

input, label { vertical-align: middle }
label { margin-left: 5px; }

.checkboxLabel {
    margin-top: 10px;
    font-weight: 100;
}


.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    background-color: #10A7EA;
    font-size: 20px;
    font-weight: 100;
    padding: 3px 20px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 3%;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: white;
    color: #10A7EA;
}

/*Nurse Resume Upload and Registration Page CSS*/

/*body {
    background-color: #10A7EA;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 20px;
}*/

.mainpageContianer {
/*    padding-top: 10vh;*/
}

.middleAndRightColumnContainer {
    width: 65vw;
    /* min-width: 800px; */
    float: left;
}

.regFirstStepContainer {
    width: 100%;
    overflow: auto;
    margin-bottom: 10vh;
}

.leftColumn {
    float: left;
    width: 25vw;
    min-width: 330px;
    height: 38vw;
    min-height: 500px;
    margin-bottom: 5vh;
    overflow: auto;
    text-align: center;
    border: solid 1px;
    margin-right: auto;
}

.middleColumn {
    float: left;
    width: 32.5vw;
    min-width: 430px;
    overflow: auto;
    padding: 0vw 2vw 0 2vw;
}

.rightColumn {
    float: left;
    width: 32.5vw;
    min-width: 430px;
    overflow: auto;
    padding: 0vw 2vw 0 2vw;
}

.selectorColumnContainer {
    margin-top: 2.75vw;
}

.selectFieldDimension {
    width: 400px !important;
}

.select2-results {
    color: #10A7EA !important;
}

.js-example-basic-multiple {
}

.select2-selection--multiple {
    width: 400px !important;
    overflow: auto !important;
    float: left;
    color: white !important;
    background-color: #10A7EA !important;
    border-color: white !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: solid !important;
    border-width: 1px !important;
    border-radius: 0 !important;
}

.select2-selection__choice__remove {
    color: white !important;
}

.select2-selection__choice {
    background-color: #10A7EA !important;
    border-color: white !important;
}

.select2-search__field {

}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

.zipcodeInput {
    background-color: #10A7EA;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    width: 400px;
    height: 41px;
    padding-left: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

.middleAndRightColumnContainerDownstairs {
    width: 100%;
    overflow: auto;
    text-align: center;
}

.middleAndRightColumnContainerDownstairs {
    width: 100%;
    overflow: auto;
}