body {
	font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
	color: #E82F3A;
}

.illustrationCover {
	width: 80vw;
	overflow: auto;
	height: 60vh;
	margin-left: 10vw;
	margin-right: 10vw;
/*	border: solid 1px #E82F3A;*/
	margin-top: 20vh;
}

.illustrationHeader {
	width: auto;
	overflow: auto;
}

.headerTrad {
    width: 250px;
    height: 6vh;
    overflow: auto;
    float: left;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px #B7D7D3;
    border-left: solid 1px #B7D7D3;
    text-align: center;
}

.headerCureConnect {
    width: 250px;
    height: 6vh;
    overflow: auto;
    float: left;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px #B7D7D3;
    border-left: solid 1px #B7D7D3;
    border-right: solid 1px #B7D7D3;
    text-align: center;
    color: #B7D7D3;
}

.illustrationContentContainer {
	width: 100%;
    height: 54vh;
    overflow: auto;
    border: solid 1px #B7D7D3;
}






