body {
	background-color: #0f3c6c;
	margin: 0px;
}

.contentContainer {
	width: 100vw;
	overflow: auto;
	color: white;
}

.timelineLeft {
	width: 48.5vw;
	overflow: auto;
	float: left;
}

.timelineRight {
	width: 48.5vw;
	overflow: auto;
	float: left;
}

.stepOne {
    padding: 30vh 5% 0 5%;
}

.stepOneTopic {
	color: #EF4931;
	font-size: 5vmin;
}

.stepOneSubtopic {
    margin-top: 1vh;
    font-size: 4vmin;
}

.stepOneContent {
	font-size: 2vmin;
    margin-top: 1vh;
}

.stepTwo {
    padding: 100vh 5% 0 5%;
}

.stepTwoTopic {
	color: #ffd200;
	font-size: 5vmin;
}

.stepTwoSubtopic {
    margin-top: 1vh;
    font-size: 4vmin;
}

.stepTwoContent {
	font-size: 2vmin;
    margin-top: 1vh;
}

.stepThree {
    padding: 130vh 5% 0 5%;
}

.stepThreeTopic {
	color: #99BFBC;
	font-size: 5vmin;
}

.stepThreeSubtopic {
    margin-top: 1vh;
    font-size: 4vmin;
}

.stepThreeContent {
	font-size: 2vmin;
    margin-top: 1vh;
}

.stepFour {
    padding: 170vh 5% 0 5%;
}

.stepFourTopic {
	color: #FD5E0F;
	font-size: 5vmin;
}

.stepFourSubtopic {
    margin-top: 1vh;
    font-size: 4vmin;
}

.stepFourContent {
	font-size: 2vmin;
    margin-top: 1vh;
}

.middleTimelineBar {
	margin: 5vh auto 0 auto;
    width: 3vw;
    height: 2900px;
    background-color: #FFD200;
    border-radius: 30px;
    float: left;
}

.ourStoryContainerTail {
	width: 100%;
	height: 7vh;
	text-align: left;
	padding-left: 2vw;
	position: fixed;
	bottom: 0;
	color: #e44835;
	animation: containerTailBlinking 2s infinite;
	cursor: pointer;
}

.ourStoryContainerTail:hover {
	color: #e44835:
	background-color: white;
}

@keyframes containerTailBlinking {
    0% {opacity: 0.3;}
    50%  {opacity: 0.8;}
    100%  {opacity: 0.3;}
}

/*
because of the design issues, some colors for chat box here needs to be altered.
*/

.chatWindowIntro {
	background-color: rgba(255, 210, 0, 1) !important;
	color: #0F3C6C !important;
}

.chatWindowInputBox {
	background-color: rgba(255, 210, 0, 1) !important;
	color: #0F3C6C !important;

}

.exitChatBoxButton {
	background-color: rgba(255, 210, 0, 1) !important;
	color: #0F3C6C !important;
}

.sendMessageButton {
	color: #0F3C6C !important;
}

.chatBoxCloseButton {
	color: #0F3C6C !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0F3C6C !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #0F3C6C !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #0F3C6C !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #0F3C6C !important;
}
