body {
	background-color: #10A7EA;
	color: white;
}

.verificationCover {
    width: 80vw;
    overflow: auto;
    border: solid 1px white;
    border-radius: 15px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
}

.veriLeft {
    width: 39vw;
    margin-left: 0.6vw;
    margin-right: 0.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.6vw;
    min-width: 500px;
    overflow: auto;
    float: left;
    border: solid 1px white;
    border-radius: 15px;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
}

.veriRight {
    width: 39vw;
    height: 666px;
    min-width: 500px;
    margin-left: 0.3vw;
    margin-right: 0.6vw;
    margin-top: 0.5vw;
    margin-bottom: 0.6vw;
    overflow: auto;
    float: left;
    border: solid 1px white;
    border-radius: 15px;
    padding-bottom: 2%;
}

.contactInfoTopic {
    text-align: center;
}

.notSetCheckboxContianer {
width: 340px;
    overflow: auto;
    margin-left: calc( 50% - 170px );
}

.notificationSetting {

}

.notSetCheckboxTopic {
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px white;
    margin-bottom: 1vw;
}

.emailDataEntryContainer {
    width: 410px;
    margin-left: calc( 50% - 205px );
    overflow: auto;
}

.emailDataEntry {
    float: left;
    margin-right: 0.5vw;
    margin-top: 0.1vw;
    width: 280px;
    text-align: center;
    border-bottom: 1px solid white;
}

.emailDataEntryEditButton {
    float: left;
    border: solid white 1px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    animation: background-color: 2s;
}

.emailDataEntryEditButton:hover {
    color:  #10A7EA;
    background-color: white;
}

.mandatoryServNotif {
    font-size: 16px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 100%;
    overflow: auto;
}

.cellphoneServNotif {
    font-size: 16px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 100%;
    overflow: auto; 
}

.cellDataEntryContainer {
    width: 410px;
    overflow: auto;
    /* margin-left: calc( 50% - 105px ); */
    margin-left: calc( 50% - 205px );
    text-align: center;
}

.cellDataEntry {
    float: left;
    margin-right: 0.5vw;
    margin-top: 0.1vw;
    border: none;
    background-color: #10A7EA;
    color: white;
    border-bottom: solid 1px white;
    width: 280px;
    text-align: center;
}

.cellDataEntryButton {
    float: left;
    border: solid white 1px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    animation: background-color: 2s;
}

.cellDataEntryButton:hover {
    color:  #10A7EA;
    background-color: white;
}

.codeDataEntry {
    float: left;
    margin-right: 0.2vw;
    margin-top: 0.1vw;
    border: none;
    background-color: #10A7EA;
    color: white;
    border-bottom: solid 1px white;
    width: 280px;
    text-align: center;
}

.codeDataEntryButton {
    float: left;
    border: solid white 1px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    animation: background-color: 2s;
    margin-right: 0.2vw;
}

.codeDataEntryButton:hover {
    color:  #10A7EA;
    background-color: white;
}

.codeSentNotification {
    color: red;
}

.containerUpperDeck {
    width: 100%;
    overflow: auto;
}

.containerLowerDeck {
    width: 100%;
    overflow: auto;
}

.resendButton {
    width: 195px;
    /* background-color: white; */
    margin-top: 1vw;
    margin-right: 10px;
    float: left;
    border: white 1px solid;
    border-radius: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    animation: background-color 2s;
    cursor: pointer;
}

.resendButton:hover {
    background-color: white;
    color: #10A7EA;

}

.changePhoneNumberButton {
    width: 195px;
    /* background-color: white; */
    margin-top: 1vw;
    float: left;
    border: white 1px solid;
    border-radius: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    animation: background-color 2s;
    cursor: pointer;
}

.changePhoneNumberButton:hover {
    background-color: white;
    color: #10A7EA;
}

.notificationGreen {
    color: #FD5E0F;
    font-size: 16px;
}

.confirmVerificationButton {
    width: 300px;
    overflow: auto;
    text-align: center;
    border: solid 1px;
    border-radius: 15px;
    margin-left: calc( 50% - 150px );
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    animation: background-color 2s;
    cursor: pointer;
}

.confirmVerificationButton:hover {
    background-color: white;
    color: #10A7EA;
}












